:root {
    --background: #D9D9D9;
    --navbar-font: #362f2f;
}

body {
    background-color: --background;
    margin: 0;
    padding: 0;
    font-family: Avalon;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
    padding: 15px;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: --navbar-font;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light hover effect */
    border-radius: 5px;
}

section {
    padding: 100px 20px;
    margin-top: 80px; /* To ensure content is not hidden behind fixed navbar */
}